/* Write your code here. */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #fff;
  font-size: 32px;
  font-family: 'Bree Serif';
  text-align: center;
}
.button-like {
  background-color: #1d4ed8;
  border-radius: 8px;
  width: 8vw;
  height: 4vh;
}
.button-comment {
  background-color: #ffffff;
  border-radius: 8px;
  width: 8vw;
  height: 4vh;
}
.button-share {
  background-color: #eab308;
  border-radius: 8px;
  width: 8vw;
  height: 4vh;
}
